* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #333333;
}
h1 {
  font-size: 3rem;
  text-align: center;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
}
header {
  width: 960px;
  height: 100px;
  margin: 0 auto 30px auto;
  border-radius: 20px;
  background-image: url("/images/saw.jpg");
  color: white;
}
.wordbox {
  width: 960px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
}

#word {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 25px;
  font-size: 3rem;
  letter-spacing: 1rem;
  font-weight: bold;
}
#win {
  position: absolute;
  bottom: 50px;
  font-size: 2rem;
  font-weight: bold;
}

#loss {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
}

#guessed-letters {
  letter-spacing: 4px;
}
#guess {
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  right: 10px;
}
.resultimage {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 200px;
  top: 20px;
  left: 380px;
  opacity: 0;
}

.goodguess {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 200px;
  top: 20px;
  left: 380px;
  opacity: 0;
}
.letters {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
}
